.weekly-todo {
  background-color: #fff;
  box-shadow: 0 0 20px #0003;
  height: auto;
  // min-height: 650px;
  border-radius: 20px;
  max-width: 1000px;
  padding: 30px;
  width: 100%;
}

.weekly-todo-left {
  width: 50%;
  height: 93%;
  border-right: 1.5px solid #bbbbbb;
}

.todo-item {
  background-color: white;
  border-radius: 9px;
  font-size: 0.9rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px #00000029;
  height: 35px;
  color: #404040;

  .todo-status {
    width: 40px;
    height: 100%;
    margin-right: 15px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  & > img {
    height: 100%;
    margin-left: auto;
    margin-right: 4px;
    cursor: pointer;
    padding: 2px;
  }
}

.todo-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 6px;
  border-radius: 9px;

  & > input {
    flex-grow: 1;
    border: none;
    outline: none;
  }

  & > img {
    cursor: pointer;
  }
}

.weekly-todo-dropdown {
  width: 60%;
  min-width: 130px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #f2eff7;
}

.weekly-moral-select {
  display: flex;
  & > .moral-status-icon {
    margin-right: 10px;
    cursor: pointer;
  }
}

.weekly-todo-heading {
  color: #333333;
}

.weekly-todo-question {
  color: #4d4d4d;
}

.weekly-todo-input {
  width: 100%;
  outline: none;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #f2eff7;
}

@media screen and (max-width: 720px) {
  .weekly-todo-container {
    flex-direction: column;
  }
  .weekly-todo-left {
    width: 100%;
    border: none;
  }
}
