.weekly-todo {
  background-color: #fff;
  box-shadow: 0 0 20px #0003;
  height: 100%;
  border-radius: 20px;
  max-width: 1000px;
  padding: 30px;
  width: 100%;
}

.todo-questions-container,
.todo-item-container {
  &::-webkit-scrollbar {
    width: 7px;
    background-color: #d9d0e8;
    border-radius: 5px;
    overflow: hidden;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #8a8297;
    border-radius: 5px;
  }
}

.weekly-todo-left {
  width: 45%;
}

.todo-item-container {
  max-height: 354px;
  overflow-y: auto;
}

.todo-item {
  background-color: white;
  border-radius: 9px;
  font-size: 0.9rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px #00000029;
  height: 35px;
  color: #404040;

  .todo-status {
    width: 40px;
    height: 100%;
    margin-right: 15px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  & > img {
    height: 100%;
    margin-left: auto;
    margin-right: 4px;
    cursor: pointer;
    padding: 2px;
  }
}

.todo-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 6px;
  border-radius: 9px;

  & > input {
    flex-grow: 1;
    border: none;
    outline: none;
  }

  & > img {
    cursor: pointer;
  }
}

.todo-question-container {
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 10px;
  color: #707070;
  width: 100%;
  & > input {
    width: 100%;
    outline: none;
    border: none;
    color: inherit;

    &::placeholder {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 720px) {
  .weekly-todo-container {
    flex-direction: column;
  }
  .weekly-todo-left {
    width: 100%;
  }
}
